permissions:
  contents: read
name: Build
on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
jobs:
  Build-and-Test-CDK:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
      - run: |
          npm ci
          npm run format:check
        working-directory: ./cdk
        name: Install dependencies and run static analysis
      - run: |
          npm run build
          npm run test
        working-directory: ./cdk
        name: build and test
  Build-and-Test-Webapp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
      - run: |
          npm ci
          npm run format:check
        working-directory: ./webapp
        name: Install dependencies and run static analysis
      - run: |
          cp .env.local.example .env.local
          npm run build
        working-directory: ./webapp
        name: build
